a:link {color:white; text-decoration:none;}
a:visited {color: white; text-decoration:none;}
a:hover {text-decoration:underline; border-bottom-style: solid;}


@font-face {
    font-family: klavika;
    src: url(../fonts/Klavika\ Regular\ Plain.otf);
}
@font-face {
    font-family: baskvl;
    src: url(../fonts/baskvl.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: klavika;
}
header{
    background: #1E9BD7;
}

.header_div ul li:last-child{
    display: none;
    font-size: 26px;
    color: #ffffff;
}
.header_div, .address, .equities, .btn, .footer_center, .footer_copyright, .text_div, .buttonText  {
    margin: 0 auto;
    width: 80%;
}
.header_top {
    border-bottom: 1px solid #ffffff;
}
.header_top p{
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    padding: 5px 0;
}
.header_div img {
    margin: 15px 0;
}
.header_div ul {
    float: right;
    margin: 32px 0px;
}
.header_div ul li, .footer_copyright ul li {
    list-style-type: none;
    float: left;
}
.header_div ul li a, .header_div ul li button {
    margin: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;  
    text-decoration: none;
}
.header_div ul li button {
    background: #ffffff;
    margin: 0;
    border: none;
}
.header_div ul li button i{
    padding: 3px;
    color: #1E9BD7;
}
.active {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
}
.content {
    height: 600px;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, #636363 76%);
}
.address {    
    height: 80px;
}
.address p {    
    height: 19px;
    font-size: 12px;
    letter-spacing: 0px;
    margin-top: 10px;
    float: left;
    color: #ffffff;
    padding-right: 8px;
}
.eq {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}
.patience {
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 68px;
    color: #ffffff;
    font-weight: 300;
}
.equities p:last-child {
    margin: 30px 0;
}
.equities p:last-child span{
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 26px;
    text-transform: uppercase;
}
.equities span:first-child {
    border-right: 1px solid #ffffff;
    padding-right: 5px;
}
.btn button {
    background: initial;
    padding: 7px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 15px
}
footer {
    background: #1E9BD7;
}
footer p {
    text-transform: uppercase;
    color: #ffffff;
}
.flex_div {
    display: flex;
}
.flex_div div {
    width: 22%;
    margin-right: 32px;
}
.flex_div div p {
    margin: 5px auto 5px 0;
    font-size: 21px;
    font-weight: 300;
}
.flex_div div p:last-child {
    font-size: 14px;
    margin-top: 12px;
}
.text_div {
    height: 860px;
}
.left_div {
    margin-right: 20px;
    float: left;
    width: 84%;
}
.leftRight {
    margin-right: 20px;
    float: right;
    width: 77%;
}
.leftRight p {
    font-family: baskvl;
    line-height: 32px;
    font-size: 18px;
}
.right_div {
    float: left;
    width: 13%;
}
.right_div p {
    font-size: 15px;
    line-height: 18px;
    font-family: "Klavika";
}
.right_div p:first-child {
    margin-bottom: 16px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
.right_div button {
    padding: 2px 4px 9px 5px;
    font-size: 14px;
    line-height: 16px;
    font-family: "Klavika";
    font-weight: bold;
    text-transform: uppercase;
    background: inherit;
    border: 1px solid #000000;
    margin-top: 15px;
}
.right_div button img {
    padding-left: 8px; 
}

.right_div a{
    display: block;
    padding-top: 13px;
    color: #000000;
}
.right_div a i{
    font-size: 25px;
    border-top: 1px solid #000000;
    padding: 5px;
}
.right_div a:first-of-type i {
    border: none;
}

.right_div a img {
    padding: 5px;
    border-top: 1px solid #000000;
}
.turning {
    margin-top: 18px;
    font-size: 22px !important;
    line-height: 32px;
    font-family: baskvl;
    font-weight: bold;
}
.kurt {
    margin-bottom: 8px;
    font-weight: bold;
}
.textCenter {
    float: left;
    width: 63%;
}
.buttonText {
    margin-top: 47%;
}
.textCenter p, .buttonText p {
    font-size: 18px;
    line-height: 32px;
    font-family: baskvl;
}

.news {
    margin: 10px 20px 10px 0;
    float: left;
    width: 34%;
    border: 1px solid #000000;
}
.news>p{
    margin: 20px;
    font-size: 15px;
    line-height: 26px;
    font-family: "Klavika";
    font-weight: bold;
    text-transform: uppercase;
}
.news div {
    margin: 20px 11px;
    border-bottom: 1px solid #000000;
}
.news div:last-child {
    border: none;
}
.news div p{
    padding-top: 6px;
    width: 79%;
    float: left;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    font-family: "Klavika";
}
.news div img {
    width: 60px;
}

.hands {
    width: 47px !important;
    padding: 6px;
}

.footer_center {
    padding-top: 40px;
}
.footer_center p:first-child {
    margin-bottom: 25px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 26px;
    font-weight: bold;
}
.img {
    background: #ffffff;
    width: 100% !important;
    height: 150px;
}
.footer_copyright {
    height: 50px;
}
.footer_copyright ul {
    margin-top: 85px; 
}
.footer_copyright ul li, .footer_copyright ul li a {
    margin: 10px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-size: 15px;
}
footer i{
    padding-right: 7px;
    margin-left: -10px;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  